dash==0.21.1
dash-core-components==0.22.1
dash-html-components==0.10.1
dash-renderer==0.12.1
dash-table-experiments==0.6.0
dask==0.19.1
Flask==0.12.2
Flask-Compress==1.4.0
Flask-Cors==3.0.4
Flask-WTF==0.14.2
gunicorn==19.9.0
heroku==0.1.4
numpy==1.14.3
pandas==0.22.0
pandas-datareader==0.6.0
plotly==2.5.1
py==1.5.3
python-dateutil==1.5